// Resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 75px 25px;
  font-family: $ff--main;
  font-size: $fs--main;
  background-color: $clr--300;

  @media (min-width: 1080px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

a,
a:visited,
a:active {
  font-family: inherit;
}
