// Layout
$desktop: 1080px;

// Colors
$clr--white: hsl(0, 0%, 100%);
$clr--300: hsl(210, 46%, 95%);
$clr--400: hsl(212, 23%, 69%);
$clr--600: hsl(214, 17%, 51%);
$clr--700: hsl(217, 19%, 35%);
$clr--black: hsl(0, 0%, 0%);

// Typography
$fs--main: 13px;
$ff--main: 'Manrope', sans-serif;
$fw--reg-500: 500;
$fw--bold-700: 700;
